.container{display: flex;flex-direction: column;max-width: 480px;margin: 180px auto 0;}
.container h3{text-align: center;margin-bottom: 24px;}
.container form{display: flex;flex-direction: column;gap: 24px;margin-bottom: 80px;}