.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h3 {
  margin: 16px 0 32px;
}
.container ul {
  display: flex;
  gap: 20px;
  margin: 0;
}
.container li {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
